@tailwind base;
@tailwind components;
@tailwind utilities;

.begroundColor1{
    background-color: #E1F5EA !important;
}
.button1{
    overflow: hidden;
    position:relative;
}
.showText{
top:0;

transition: all 500ms;
}
.button1:hover .showText{
position: absolute;
top: 70px;
}

 .hiddenText{
    
position: absolute;
left: -100px;

transition: all 500ms;

top:20px;
}
.button1:hover .hiddenText{
    
position: absolute;
left: 80px;
transition: 1;
}



.button2{
    overflow: hidden;
    position:relative;

}

.showText2{
top:0;
left: 20px;

transition: all 200ms;
}
.button2:hover .showText2{
position: absolute;
top: 70px;
}

.hiddenText2{
    
position: absolute;
left: -400px;
top: 0;
transition: all 200ms;
}
.button2:hover .hiddenText2{
background-color: orangered;
position: absolute;
left: 0px;
transition: 1s;
}
